<!-- PROJECT DETAILS -->
<div class="row h-25 mt-2 mb-2">
    <div class="col-3 ">
        <h5>Project details</h5>
        <ul class="list-unstyled" style="font-size:1vw" id="project-details">
            <!-- The HTML gets displayed by javascript -->
        </ul>
    </div>
    <div class="col overflow-auto">
        <h5>Project description</h5>
        <p class="text-justify" id="project-description">
            <!-- The HTML gets displayed by javascript -->
        </p>
    </div>
</div>
<!-- DEVICES -->
<div class="row h-75">
    <div class="col-12 h-100">
        <div class="devices-table h-100">
            <table class="table table-striped table-fixed">
                <thead>
                    <tr class="d-flex">
                        <th class="col-1">Connection</th>
                        <th class="col-1">State</th>
                        <th class="col-4">Device name</th>
                        <th class="col-2">Location</th>
                        <th class="col-2">Last activity</th>
                        <th class="col-1">Firmware</th>
                        <th class="col-1">Map / info</th>
                    </tr>
                </thead>
                <tbody id="project-list-devices">
                    <!-- The table gets populated by javascript -->
                </tbody>
            </table>
        </div>
    </div>
</div>